{{ user }}, password reset was initiated for this email: {{ email }} attached to your account on Leading Wealth. If you initiated the password reset process and wishes to to finalize your password reset, please follow the link below:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you think you received this email in error, or that you have a change of mind and don't wish to continue with changing your password, please disregard this email and nothing will happen to your account.

Kind regards Leading Wealth.
    {{ protocol }}://{{ domain }}/
    Your Financial Freedom
