{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}Change Password{% endblock page_title %}

{% block content %}

<section id="login" class="info">
<div class="container">
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>{% block title %}Change Password!{% endblock title %}</h2>
        {% block title_divider %}<hr class="star-primary">{% endblock title_divider %}
    </div>
</div>

    <tr> <td><a href="{% url 'coin:index' %}" title="Leading Wealth">Home Page </a> || </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> || </td>
    <td><a href="{% url 'user:register' %}" title="Register new account">New Account </a> </td>
    </tr>

{% if validlink %}

<div id="reset-password" class="row">
    <div class="col-xs-12">
        <p class="title">Please Enter and Confirm Your New Password.</p>
        <p>Enter a valid email you used in registering an account with us and we will email you instructions on how to reset your password.</p>

    <form action="" method="POST">
    {% csrf_token %}
    
    <div class="form-row">
      <div class="form-group col-xs-5 mb-0">
        {{ form.new_password1|as_crispy_field }}
      </div>
      <div class="form-group col-xs-5 mb-0">
        {{ form.new_password2|as_crispy_field }}
      </div>
      <div class="form-group col-xs-2 mb-0"><br>
        <button type="submit" class="btn btn-primary btn-outline success">
          <span class="glyphicon glyphicon-envelop"></span> Change Password
        </button>
      </div>
    </div>
    </form>

    </div>
</div>
{% else %}
    <p class="title">Password Reset Failed!</p>
    <div>The password reset link is invalid. It is either the link is used or that it has expired.<br>
    Please reqeust a new <a href="{% url 'password_reset' %}" title="Reset Password">password reset</a> link.
    </div>
{% endif %}
    <tr> <td><a href="{% url 'coin:index' %}" title="Leading Wealth">Home Page </a> || </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> || </td>
    <td><a href="{% url 'user:register' %}" title="Register new account">New Account </a> </td>
    </tr>

</div>
</section>

{% endblock content %}